.splash {
    
    background-image: url(../img/splash-bg.jpg);
    background-size: cover;
    background-position: center;
    
    &__form {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100vw;
        padding: 7rem 5rem;
        background-color: rgba(0,0,0,.5);
        margin: 0 auto;
        
        @include respond(phone) {
            padding: 5rem 2.5rem;
        }
        
    }
    
    &__container {
        display: block;
        width: 45rem;
        margin: 0 auto;
        
        @include respond(phone) {
            width: 90%;
        }
        
    }
    
    &__input {
        
        --border-color: var(--primary);
        --focus-out: var(--font-color);
        
        display: block;
        width: 100%;
        padding: 1.5rem 3rem;
        border: none;
        font-size: 1.4rem;
        
        margin-bottom: 3rem;
        
        border: 3px solid var(--focus-out);
        transition: $quick;
        
        &:focus {
            outline: none;
            border-color: var(--border-color);
        }
        
    }
    
    &__title {
        
        font-size: 4rem;
        margin-bottom: 3rem;
        color: var(--primary);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .7rem;
        
    }
    
    &__checkbox {
        
        margin-bottom: 4rem;
        display: block;
        
        input {
            display: none;
        }
        
        input:checked + div {
            span {
                
                i {
                    opacity: 1;
                }
                
            }
        }
        
        div {
            display: grid;
            grid-template-columns: 4rem auto;
            cursor: pointer;
        }
        
        span {
            display: block;
            height: 2.4rem;
            width: 2.4rem;
            outline: 2px solid var(--font-color);
            position: relative;
            
            i {
                @include centerBox;
                opacity: 0;
            }
        }
        
        p {
            line-height: 2.4rem;
        }
        
    }
    
    &__duplicate {
        text-align: center;
        margin-bottom: 3rem;
        color: var(--primary);
    }
    
}