.payment {
    
    &.rspv {
        @include respond(phone) {
            display: block;
            padding: 12rem 0;
        }
    }
    
    &__container {
        width: 60%;
        margin: 0 auto;
        position: relative;
        
        @include respond(tab-port) {
            width: 80%;
        }
        
        @include respond(phone) {
            width: 100%;
            padding: 0 3rem;
        }
        
        .button--primary {
            @include respond(phone) {
                margin-bottom: 12rem;
            }
        }
    }
    
    &__title {
        font-size: 3rem;
        color: var(--primary);
        text-transform: uppercase;
        letter-spacing: .7rem;
        margin-bottom: 5rem;
        text-align: center;
    }
    
    &__form {
        width: 90%;
        margin: 0 auto;
        @include respond(phone) {
            width: 100%;
        }
    }
    
    &__space {
        
        height: 0;
        width: 100%;
        
        @include respond(phone) {
            height: 12rem;
        }
        
    }
    
    &__option {
        
        background-color: var(--bg-color-alt);
        display: grid;
        grid-template-columns: 15rem auto;
        cursor: pointer;
        position: relative;
        margin-bottom: 2rem;
        
        @include respond(phone) {
            grid-template-columns: 8rem auto;
        }
        
        &:last-child {
            margin-bottom: 5rem;
        }
        
        input {
            display: none;
        }
        
    }
    
    input:checked + &__radio {
        
        div {
            
            border-color: var(--primary);
            
        }
        
        span {
            
            opacity: 1;
            
        }
        
    }
    
    input:checked ~ &__details {
        h3 {
            color: var(--primary);
        }
    }
    
    &__radio {
        position: relative;
        height: 12rem;
        
        div {
            height: 4rem;
            width: 4rem;
            @include centerBox;
            border: 4px solid var(--font-color);
            border-radius: 50%;
            transition: $quick;
            
            @include respond(phone) {
                height: 3rem;
                width: 3rem;
            }
        }
        
        span {
            @include centerBox;
            height: 2.5rem;
            width: 2.5rem;
            background-color: var(--primary);
            border-radius: 50%;
            opacity: 0;
            
            transition: $quick;
            
            @include respond(phone) {
                height: 1.4rem;
                width: 1.4rem;
            }
        }
        
    }
    
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h3 {
            color: var(--font-color);
            text-transform: uppercase;
            letter-spacing: .3rem;
            margin-bottom: .25rem;
            transition: $quick;
        }
        
        p {
            width: calc(100% - 15rem);
            
            @include respond(phone) {
                width: 100%;
                padding-right: 3rem;
            }
        }
    
    }
    
    &__price {
        
        position: absolute;
        top: 50%;
        right: 5rem;
        transform: translateY(-50%);
        
        font-size: 4rem;
        opacity: .3;
        
        @include respond(phone) {
            font-size: 7rem;
            opacity: .05;
            right: 1rem;
        }
        
    }
    
}