.pick-host {
    
    &.rspv {
        display: block;
        padding: 12rem 3rem;
    }
    
    &__container {
        position: relative;
        
        .button--circular {
            margin-bottom: 20rem;
        }
    }
    
    &__title {
        font-size: 3rem;
        color: var(--primary);
        text-transform: uppercase;
        letter-spacing: .7rem;
        text-align: center;
    }
    
    &__subtitle {
        text-align: center;
        margin-bottom: 8rem;
    }
    
    input {
        display: none;
    }
    
    &__grid {
        
        display: grid;
        padding: 0 20rem;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        
        @include respond(phone) {
            padding: 0;
            grid-template-columns: 50% 50%;
        }
        
        grid-row-gap: 5rem;
        
        margin-bottom: 10rem;
        
    }
    
    &__space {
        
        height: 0;
        width: 100%;
        
        @include respond(phone) {
            height: 12rem;
        }
        
    }
    
    &__option {
        
        width: 25rem;
        
        
        cursor: pointer;
        
        @include respond(phone) {
            width: auto;
        }
        
        input:checked + img {
            border-color: var(--primary);
        }
        
        input:checked ~ h3 {
            color: var(--primary);
        }
        
        h3 {
            text-align: center;
            margin-top: .75rem;
            font-size: 2rem;
            letter-spacing: .1rem;
            transition: $quick;
        }
        
        img {
            width: 12rem;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            border: 3px solid transparent;
            transition: $quick;
        }
        
        &:hover img {
            border-color: var(--primary-half);
            filter: grayscale(.5);
        }
        
        &:hover h3 {
            color: var(--primary-half);
        }
        
        &:hover input:checked + img {
            border-color: var(--primary);
            filter: grayscale(.5);
        }
        
        &:hover input:checked ~ h3 {
            color: var(--primary);
        }
    }
    
    &__error {
        position: absolute;
        bottom: 8rem;
        
        width: 100%;
        text-align: center;
        
        text-transform: uppercase;
        letter-spacing: .2rem;
        
        pointer-events: none;
        user-select: none;
        
        transition: all .3s ease-in;
        
        &.inactive {
            transform: scale(.5);
            opacity: 0;
        }
        
        &.active {
            transform: scale(1);
            opacity: 1;
        }
    }
    
}