@import url('https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap');
@import url("https://use.typekit.net/wfl8kew.css");

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: var(--font-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
