.footer {
    
    padding: 10rem 20rem;
    text-align: center;
    
    @include respond(tab-port) {
        padding: 10rem;
    }
    
    @include respond(phone) {
        padding: 5rem 2.5rem;
    }
    
    p {
        line-height: 2.5;
    }
}