.hero {
    
    color: var(--white);
    
    padding: 5rem;
    
    &__title {
        font-size: 7rem;
        
        @include respond(phone) {
            line-height: 1.2;
            margin-bottom: 2rem;
        }
    }
    
    &__subtitle {
        
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 1.8rem;
        margin-bottom: 4rem;
        
    }
    
    &__countdown {
        
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 3rem;
        color: var(--primary);
        
        &-header {
            text-transform: uppercase;
            letter-spacing: .3rem;
            font-size: 1.8rem;
        }
        
    }
    
    &__date {
        
        margin-bottom: 5rem;
        
    }
    
    .button--primary {
        margin-bottom: .75rem;
        font-size: 1.7rem;
    }
    
    .button--secondary {
        font-size: 1.7rem;
    }
    
}