.venue {
    background-color: var(--bg-color-alt);
    
    text-align: center;
    
    &__title {
        font-size: 4rem;
        text-transform: uppercase;
        color: var(--primary);
        letter-spacing: .7rem;
        margin-bottom: 3rem;
        
        @include respond(phone) {
            padding: 0 3rem;
            font-size: 3rem;
            letter-spacing: .5rem;
        }
    }
    
    &__address {
        letter-spacing: .1rem;
        line-height: 2;
        
        @include respond(phone) {
            padding: 0 3rem;
        }
    }
    
    &__map {
        width: 60%;
        height: 50rem;
        margin: 5rem auto 4rem auto;
        
        @include respond(tab-land) {
            width: 75%;
        }
        
        @include respond(tab-port) {
            width: 85%;
        }
        
        @include respond(phone) {
            width: 100%;
        }
        
        #map {
            height: 100%;
            width: 100%;
        }
        
    }
    
}
